

body{
	margin: 0 auto;
	max-width: 800px;
	font-family: Century Gothic, Segoe UI, Arial, Tahoma, Helvetica, Sans-Serif;
}



header{
	margin: 20px 0;
	text-align: center;
}

header h1{
	font-weight: bold;
	
}

article{
	padding: 20px;
	
	background-color: #F2F2F2;
	border: 1px solid #848484;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;}